<?xml version="1.0" encoding="utf-8"?>
<!-- comentário de fronteira: AndroidManifest.xml — declara a única Activity do app
     (MainActivity, que hospeda todo o Compose) e o tema base. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AtelieDaSuuh"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AtelieDaSuuh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
